 .u-section-1 {
  background-image: linear-gradient(#333333, #4d4d4d);
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-family: Aleo;
  margin: 49px 295px 60px 322px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 195px;
    margin-left: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 85px;
    margin-left: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 146px;
  }
}